body {
  font-family: Georgia, serif;
  background: #f4f0e8;
  margin: 0;
  padding: 0px;
}
.form-container {
  max-width: 800px;
  margin: 30px auto;
  background: #fffdfa;
  margin-inline: auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
.form-container h2 {
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
  width: 96%;
  padding: 8px;
  font-size: 1em;
  border: 1px solid #999;
  border-radius: 3px;
}

.form-group select {
  width: 99%;
  padding: 8px;
  font-size: 1em;
  border: 1px solid #999;
  border-radius: 3px;

}

.form-group textarea {
  min-height: 80px;
  resize: vertical;
}


.date-of-rel {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
}

.sub {
  margin-inline: 0px;
  padding-right: 30px;
}



.blocks-controls {
  margin: 20px 0;
}
.blocks-controls button {
  margin-right: 10px;
  padding: 6px 12px;
  font-size: 1em;
}

#blocksList {
  border: 1px solid #aaa;
  padding: 10px;
  min-height: 100px;
  background: #f9f8f2;
}

#blocksList textarea {
  width: 90%;
  height: 50vh;
  padding: 8px;
  font-size: 1.1em
}

.normal_text {
  font-family: Georgia, serif;
}

#blocksList input {
  width: 90%
}

.block {
  border: 1px dashed #999;
  margin: 8px 0;
  padding: 8px;
  background: #fffdfa;
  position: relative;
}
.block .remove-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  color: red;
}

.preview-container {
  max-width: 800px;
  background: #fffdfa;
  margin-inline: auto;
  margin-block: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);

}
.preview-container h2 {
  font-size: 1.7em;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.preview-container .meta {
  font-size: 0.95em;
  color: #555;
  margin: 10px 0;
  text-align: center;
}

.code-block {
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 12px;
  overflow-x: auto;
  font-family: Consolas, "Courier New", monospace;
  margin: 15px 0;
}
.pub-image {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  border: 1px solid #999;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.pdf-container {
  margin: 20px 0;
  border: 1px solid #999;
  height: 500px;
  width: 100%;
}
.pdf-container object,
.pdf-container iframe {
  width: 100%;
  height: 100%;
}

.block input[type="url"] {
  width: 100%;
  padding: 6px;
  font-size: 1em;
  border: 1px solid #999;
  border-radius: 3px;
  margin-top: 5px;
}

#btnGenerate {
  margin-right: 10px;
  padding: 6px 12px;
  font-size: 1em;    
  margin-top: 20px}